

.range-slider {
  cursor: pointer;
  user-select: none;

  &__track {
    --track-color: #D8D8D8FF;
    --track-border: 1px solid gray;
    position: relative;
    border: var(--track-border);
    background: var(--track-color);
    border-radius: 5px;
    z-index: 1;
    &--horizontal {
      margin: 60px 0;
    }

    &--vertical {
      margin: 0 60px;
    }
  }

  &__ruler {
    display: flex;
    position: absolute;
    font-size: 11px;
    justify-content: space-between;

    &--horizontal {
      padding-top: 3px;
      align-items: center;
      flex-direction: row;
      height: 12px;
      bottom: -12px;
    }

    &--vertical {
      flex-direction: column;
      height: 100%;
      width: 20px;
      left: -20px;
    }
  }

  &__tick {
    --tick-color: rgb(179, 179, 179);
    display: flex;
    position: relative;

    &--horizontal {
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    &--vertical {
      flex-direction: row;
      align-items: center;
      height: 12px;
    }
  }

  &__tick-bar {
    background-color: var(--tick-color);

    &--horizontal {
      height: 100%;
      width: 1px;
    }

    &--vertical {
      height: 1px;
      width: 100%;
    }
  }

  &__tick-number {
    position: absolute;
    color: var(--tick-color);

    &--horizontal {
      bottom: -1rem;
    }

    &--vertical {
      right: 1rem;
    }
  }

  &__thumb {
    --thumb-color: #E65837FF;
    position: absolute;
    border-radius: 50%;
    background-color: var(--thumb-color);
    z-index: 2;
    
    &::before {
      content: "";
      position: relative;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      z-index: 0;
      box-shadow: 0 0 20px var(--thumb-color);
      opacity: 0.6;

    }

    &:hover::before,&.dragging::before {
      display: block;
    }

    
  }

  &__tooltip {
    --tooltip-color: #E65837FF;
    position: absolute;
    height: 30px;
    min-width: 30px;
    padding: 8px;
    background-color: var(--tooltip-color);
    color: white;
    font-family: "MontserratBold";
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &::after {
      content: "";
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid var(--tooltip-color);

    }


    &--horizontal {
      top: -39px;
      left: 50%;
      transform: translateX(-50%);

      &::after {
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }

      &.tooltip-round {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        left: 50%;
        transform: translateX(-50%);
        top: -46px;

        &::after {
          left: 50%;
          transform: translateX(-50%);
          bottom: -7px;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid var(--tooltip-color);
        }
      }
    }

    &--vertical {
      top: 50%;
      transform: translateY(-50%);
      left: 23px;

      &::after {
        transform: rotate(90deg);
        left: -8px;
        top: 12px;
      }

      &.tooltip-round {
        border-radius: 30px;
        height: 36px;
        min-width: 36px;
        left: 27px;
        top: 50%;

        &::after {
          left: -14px;
          bottom: 12px;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid var(--tooltip-color);
        }
      }


    }


  }

  &__fill {
    --fill-color: #E65837FF;
    background: var(--fill-color);
    border-radius: 5px;
    z-index: 2;

    &--horizontal {
      height: 100%;
    }

    &--vertical {
      position: absolute;
      width: 100%;
    }
  }

  &__label {

    // margin: 10px 0 30px;
  }
}