body {
  background-color: rgb(255, 170, 170);
  box-sizing: border-box;
  padding: 30px;
}

.range-slider-container {
  width: 300px;

  .range-slider {
    cursor: pointer;

    &__track {
      position: relative;
      background: rgb(167, 167, 167);
      border-radius: 5px;
      margin: 20px 0;
    }

    &__thumb {
      position: absolute;
      width: 15px;
      height: 15px;
      top: -2px;
      border-radius: 50%;
      background-color: red;
    }
    &__fill{
      height: 10px;
      
      background-color:rgb(255, 73, 73);
      border-radius: 5px;
    }
  }
}